{% extends '@nucleus/partials/particle.html.twig' %}
{% set attr_extra = '' %}
{% if particle.extra %}
    {% for attributes in particle.extra %}
        {% for key, value in attributes %}
            {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% block particle %}
<header class="g-encabezado{% if particle.css.class %} {{ particle.css.class|e }}{% endif %} {{ particle.alineacion }}{% if particle.disenoornamental %} g-diseno-ornamental{% endif %}"{% if particle.extra %}{{ attr_extra|raw }}{% endif %}>    
    <{{ particle.etiquetatitulo }} class="g-encabezado-titulo"{% if particle.colortitulo %} style="color:{{ particle.colortitulo }}"{% endif %}>    
            {%- if particle.alineacionicono=='alineacionicoizquierda' or particle.alineacionicono=='alineacionicoarriba'  -%}
                <i class="{{ particle.icon|e }} {{ particle.alineacionicono|e }}"></i>{{ particle.title|raw }}
            {%- else -%}
               {{ particle.title|raw }}
                 <i class="{{ particle.icon|e }} {{ particle.alineacionicono|e }}"></i>
            {% endif %}    
       
    </{{ particle.etiquetatitulo }}>  
    {%- if particle.subrayado -%}<hr {% if particle.colortitulo %} style="background-color:{{ particle.colortitulo }}"{% endif %}>{%- endif -%}  
    {%- if particle.subtitle -%}
        <{{ particle.etiquetasubtitulo }} class="g-encabezado-subtitulo"{% if particle.colorsubtitulo %} style="color:{{ particle.colorsubtitulo }}"{% endif %}>{{ particle.subtitle|raw  }}</{{ particle.etiquetasubtitulo }}>
    {%- endif -%}
    
    {%- if particle.description -%}<p>{{ particle.description|raw }}</p>{%- endif -%}

</header>
{% endblock %}